<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.protos.de/reqtext/ReqText"
			class = "de.protos.reqtext.reqText.ReqTextPackage"
			genModel = "model/generated/ReqText.genmodel" />
	</extension>
</plugin>
